/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

/* TEST */
/* /TEST */


.container {
    width: 70%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

img {
    width: 100%;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.col {
    float: left;
}
    
.text{
    font-size: .8em;
    font-weight: 500;
}

.fas-color {
    color: lightgray;
}

.button {
    width: 10%;
    line-height: 60px;
    color: white;
    background-color: #1d72fb;
    padding: .5em 1em;
} 

/* HEADER */
.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.logo {
    width: 15%;
    line-height: 60px;
}

.logo img {
    width: 80%;
    vertical-align: text-bottom;
    padding-right: .5em;
    margin-left: 1em;
}

.first-menu,
.second-menu {
    width: 35%;
}

.menu li {
    display: inline-block;
    line-height: 60px;
    padding: 0em 1em 0em .5em;
}

.first {
    text-align: left;
}

.second {
    text-align: right;
}

.login a  {
    margin-left: 5em;
}

/* MAIN */
.jumbotron {
    height: 550px;
    background-color: #b4d0e7;
}

.jumbotron-container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    bottom: -30%;
}

.left-col{
    width: 40%;
}

.right-col {
    width: 60%;
}

.jumbotron h1 {
    font-size: 3.2em;
    line-height: 1.5em;
}

.jumbotron-text {
    width: 30%;
    padding: 2em 1em .5em 0em;
    font-size: .7em;
    float: left;
    margin-top: 1em;
    margin-right: 1em;
}

.jumbotron-text :nth-child(1) {
    margin-bottom: 2em;
}

.jumbotron-text :nth-child(3) {
    margin-top: 1em;
}

.arrow {
    font-size: 2em;
    margin-top: 1em;
}

.jumbotron-img img {
    margin-top: 2em;
    width: 65%;
    float: right;
}

/* 1° SECTION */
.plans {
    margin-top: 7em;
    margin-bottom: 1.5em;
    background-color: aquamarine;
}

.container .col {
    width: calc(100%/3 - 30px);
}

.container .col ul {
    border: 1px solid #ddd;
    margin-right: 3em;
}

.plans h2 {
    padding-bottom: 2em;
}

.col .types p {
    border: 1px solid #ddd;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 0em;
    margin-bottom: 2em;
}

.col .plan-type {
    border-collapse: separate;
    text-align: center;
}

.pl {
    padding-left: 2em;
}

.types h3 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

.price {
    font-weight: bold;
}

.list-color {
    color: black;
}

.types .month {
    margin-bottom: 2em;
    margin-top: .2em;
}

.month-color {
    padding-top: 0.2em;
    font-size: .8em;
    color: gray;
}

.pb {
    padding-bottom: 1.5em;
}

.buy-now {
    color: #1d72fb;
    text-decoration: underline;
}

.bb {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2em;
}

.mb-2 {
    margin-bottom:  3em;
}

.blue-check {
    color: #1d72fb;
}