/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

/* TEST */
/* /TEST */


.container {
    width: 82%;
    margin: 0 auto;
}

.container-2 {
    width: 60%;
    margin: 0 auto;
    /* TEST */
    height: 500px;
    /* background-color: blueviolet; */
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float {
    float: left;
}

img {
    width: 100%;    
}

ul {
    list-style: none;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: black;
}
    
.text{
    font-size: .8em;
    font-weight: 500;
}

.col {
    width: calc(100/3 - 30px);
}

.fas-color {
    color: lightgray;
}

/* HEADER */
header {
    height: 60px;
    margin-bottom: .2em;
}

.logo {
width: 15%;
line-height: 60px;
}

.login {
    width: 10%;
    line-height: 60px;
} 

.logo img {
    width: 80%;
    vertical-align: text-bottom;
    padding-right: .5em;
}

.first-menu,
.second-menu {
    width: 35%;
}

.menu li {
    display: inline-block;
    line-height: 60px;
    padding: 0em 1em 0em .5em;
}

.first {
    text-align: left;
}

.second {
    text-align: right;
}

.login {
    text-align: right;
}

.button{
    color: white;
    background-color: #1d72fb;
    padding: .5em 1em;
}

/* MAIN */
.jumbotron {
    height: 60vh;
    background-color: #b4d0e7;
    padding: 4.2em 5em 0em;
}

.jumbotron h1 {
    font-size: 3.2em;
    line-height: 1.5em;
}

.jumbotron-text {
    width: 30%;
    padding: 2em 1em .5em 0em;
    font-size: .7em;
    float: left;
    margin-top: 1em;
    margin-right: 1em;
}

.jumbotron-text :nth-child(1) {
    margin-bottom: 2em;
}

.jumbotron-text :nth-child(3) {
    margin-top: 1em;
}

.arrow {
    font-size: 2em;
    margin-top: 1em;
}

.jumbotron-img img {
    margin-top: 2em;
    width: 58%;
    float: right;
}

/* 1° SECTION */
.plans {
    margin-top: 7em;
    background-color: aquamarine;
}

.plan-type {
    border: 1px solid gray;
    text-align: center;
}
